#container{
	width: 50vw;
	height: auto;
	margin-left: 25vw;
}

p{
	font-size: 18px;
	line-height: 28px;
	display: block;
}

h1{
	font-size: 36px;
	font-family: helvetica;
}

h2{
	font-size: 14px;
}

img{
	background-color: white;
	width: 30vw;
	height: 30vw;
	position: absolute;
	display: none;
}

#text{
	width: 18vw;
	height: 30vw;
	position: absolute;
	right: 0;
	font-family: helvetica;
	font-size: 18px;
	line-height: 26px;

}

#animation{
	display: block;
	width: 50vw;
	height: 30vw;
	position: relative;
}




