body{
	margin: 0;
}

canvas{
	width: 100%;
	height: 100%;
}

p{
	color: white;
	float: left;
	font-size: 16px;
	margin-right: 15px;
	background-color: black;
	font-family: monospace;
}

#toolbar{
	position: fixed;
	top:0;
	left:10px;
}

p:hover{
	text-decoration: underline;
}