canvas{
	position: absolute;
	margin: 0;
}

body{
/*	background-color: black;*/
}



#pg1{
	width: 100vw;
	height: 100vh;

	display: none;
}

#pg2 {
	width: 100vw;

	display: none;
	position: relative;
}

#footer{
	background: white;
	width: 100vw;
	height: 40px;
/*	position: absolute;*/
	bottom: 0;
/*	background: orange;*/
}

#header {
	width: 90vw;
	margin-left: 5vw;
	height: 80px;
/*	background: lime;*/	
	display: inline-block;
}

#entryContainer{
	width: 50vw;
	height: 92vh;
	margin-left: 25vw;
	display: none;
	overflow-y: visible;
}

#aboutPg {
	width: 60vw;
	height: 92vh;
	margin-left: 20vw;
	margin-top: 20vh;
	display: none;
	font-family: helvetica;
	font-size: 36px;
	overflow-y: hidden;
}

#title{
/*	background: violet;*/
	margin-top: 36px;
	display: none;
	font-family: helvetica;
	font-weight: 700;
	font-size: 40px;
	margin-top: 20px;
}

#slideshow {

	width:100vw;
	height: 400px;
/*	background: green;*/
	position: absolute;
/*	margin-top: 20px;
	display: none;*/

}
.otherImage{
	width: 700px;
	height: auto;
	margin-top: 20px;
/*	position: inherit;*/
	display: none;

}


#text{
	width: 600px;
	display: none;
	font-family: helvetica;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 100;
	font-size: 18px;
	line-height: 26px;
}

.mainImage{
	width: 400px;
	height: auto;
	display: none;
	position: absolute;
	margin-bottom: 60px;
}

#iconContainer{

}

.icon {
	height: 15px;
	width: auto;
	margin-right: 10px;


}
.icon:hover{
	opacity: .5;
}

#iconContainer {
	width: 10vw;
	height: 30px;
	bottom: 0px;
	right: 0px;
	margin-left: 92vw;

}

.nav{
	display: inline-block;
	margin-right: 40px;
	font-family: helvetica;
	font-weight: 700;
	font-size: 18px;
}

.nav:hover {
	text-decoration: underline;
}

a{
	color: black;
	text-decoration: none;
}